<header class="showcase">
  <div class="content">
    <img
      src="../../../assets/img/undraw_movie_night_93wl.svg"
      class="logo"
      alt="MovieFinder"
    />
    <div class="title">Welcome To <span class="mv">TrinityMovieFinder</span></div>
    <div class="text">
    These is just developed by Trinity intern teams
    </div>
    <button
      mat-flat-button
      color="accent"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/movies"
    >
      click here to login 
    </button>
  </div>
</header>

<!-- Services -->
<section class="services">
  <div class="container grid-3 center">
    <div>
      <i class="fas fa-video fa-3x"></i>
      <h3>Movies</h3>
      <p>
         A recording of moving images that tells a story and that people watch on a screen or television : motion picture watched a movie after dinner a movie about the Civil War an action movie.
      </p>
    </div>
    <div>
      <i class="fas fa-film fa-3x"></i>
      <h3>Series</h3>
      <p>
        A film series or movie series (also referred to as a film franchise or movie franchise) is a collection of related films in succession that share the same fictional universe.
      </p>
    </div>
    <div>
      <i class="fas fa-laptop fa-3x"></i>
      <h3>Everywhere</h3>
      <p>
        just explore what you need to explore more to gain knowledge.
      </p>
    </div>
  </div>
</section>

<!-- About -->
<section class="about bg-light">
  <div class="container">
    <div class="grid-2">
      <div class="center">
        <i class="fas fa-mug-hot fa-10x"></i>
      </div>
      <div>
        <h3>About Us</h3>
        <p>
          Trinity Internet-Connected Sensor Systems is a simple plug & play solution to deploy sensors and collect data. The product combine off the shelf sensor, wireless connectivity and connects to cloud . Various type of models are available to suit the deployment sites and environments.
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="center bg-dark">
  <p class="footer-links">
    <a target="_blank" href="https://github.com/sakmanal"
      >Developed By Interns <i class="fab fa-github"></i
    ></a>
    - 😎 2022
  </p>
</footer>
